html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    touch-action: manipulation;
}

// Centers the text
.textcenter{
    text-align: center;
}

// In this box the whole game will be run
.game-box{
    padding: 1%;
    margin: 1%;
    position: absolute; /* absolute */
    width: 97%;    /* 97% */
    height: 97%;   /* 97% */
    display: block;
    border: 1px solid black;
    overflow-x: hidden;
}

// Increase overall margin and makes the text in the box less visible
.data-box{
    margin: 2vh;
    opacity: 0.2;
}

// Increase margin on top and padding on each side
#scoreboard{
    margin-top: 10px;
    padding: 20vh;
    padding: 20px;
    position: relative;

}

// This class hides the text
.hidden{
    //display: none;      --> IMPORTANT: use these two attributes instead of "font-size: 0px;" !!!
    //visibility: hidden; --> TODO: change
    font-size: 0px;
}




