body{
    overflow-x: hidden;
}

.nav-right{
    text-align: right;
}

.center{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.center {
    margin: auto;
}

.textcenter{
    text-align: center;
}

.btn{
    margin: 10px;
}